# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Env files
.env

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Logs
logs/
*.log

# Banners folder (if images large)
pagina/banners/
